.productos-index li{
  list-style: none;
  text-decoration: none;
  list-style: none;
 
  
}
.productos-index h1{
color: brown;
text-decoration: none;
 
  
}
.productos-index a {

  text-decoration: none;
}
