.slider{
    width: 50%;

    top: 150px;
    left: 50px;
}
.select {
    margin-left: 1%;
    
}
.agregar {
    width: 30%;
    height: 5vh;
    background-color: brown;
    color: white; 
    font-weight: 500;
    border:0px;

}
