
.route img{
    width: 50px;
    position: relative;
    position: relative;
    border-radius: 100%;
    right:0px
    

}

.route {
  
    font-size: 25px;
  background-color: rgb(209, 199, 199);
}
.route ul {
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    margin: 0px;
    vertical-align: middle;
    font-style: oblique;
    width: 100%;
    list-style: none;
}

.route ul li a {
    text-decoration: none;

  
}

    .w3rcontainer{
       border: 1px solid #cccfdb;
       border-radius: 2px;
    } 
    .hover-underline-animation {
      display: inline-block;
      position: relative;
      color: #0000009f;
    }
    
    .hover-underline-animation:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #000000;
      transform-origin: bottom right;
      transition:transform 0.25s ease-out;
    }
    
    .hover-underline-animation:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
    @media (min-width:700px){
    .navigation {
      display: none;
    }
    .cart {
      display: none;
    }
  }
    @media (max-width:700px){
      .route-movile {
        position: relative;
        width: 100vw;
        height: 3vh;
    
      }
   
  
   .route {
    display: none;
   }

    .dropdown-toggle {
      
      background-color:transparent;
      font-size: 18px;
      font-family: inherit;
      text-decoration: none;
      color: black;
      font-weight: bold;
      border: none;
      
      
    }
    .dropdown-toggle:hover{  
      background-color:transparent;
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: none;
    

  }
 }
 #menuToggle
{
  display: block;
  position: inherit;
 margin: 2%;
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 33px;
  height: 32px;
  position: absolute;


  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 5; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 3;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 60%;
  left: 0px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.dropdown-item {
font-weight: 400;

}


#menuToggle input:checked ~ ul
{
  transform: none;
}
#menu {
  z-index: 5;
}
.cartMovile {
  width: 100px;
  position: absolute;

}
.menuMovile {

width: 70%;
}
.cart {
  width: 50px;
  margin-right: 4%;

  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  list-style: none;
}
   